.header {
  width: 100%;
  height: 250px;
  background-image: url("/img/IMG_6982.jpg");
  background-size: cover;
}
.header h2 {
  text-align: center;
  font-size: 60px;
  padding-top: 85px;
  color: rgb(32, 30, 30);
}
.profile-wrapper {
  padding-bottom: 50px;
}
.profile-inner {
  width: 80%;
  margin: 0 auto;
}
.title {
  text-align: center;
  padding: 100px 0 50px;
  font-size: 70px;
  font-weight: 400;
}
.profile-left {
  width: 45%;
}
.profile-img {
  width: 100%;
  height: 100%;
}
.flex {
  display: flex;
  justify-content: space-between;
}
.profile-right {
  width: 50%;
  text-align: center;
  line-height: 45px;
  margin-top: 90px;
}
.myname {
  font-size: 45px;
  margin-bottom: 20px;
}
.profile-text {
  margin-top: 70px;
  font-size: 14px;
}
.school-wrapper {
  background-color: lightcyan;
  padding-bottom: 70px;
}
.school-text {
  text-align: center;
  line-height: 40px;
}
.product-wrapper {
  padding-bottom: 50px;
}
.product-inner {
  width: 80%;
  margin: 0 auto;
}
.product-left {
  width: 45%;
}
.product-img {
  width: 100%;
}
.product-url {
  margin-top: 30px;
}
.link {
  text-decoration: none;
  color: blue;
  font-size: 40px;
  cursor: pointer;
}
.link:hover {
  font-size: 45px;
  transition: .2s;
}
.link-text {
  margin-top: 40px;
  line-height: 30px;
}
.product-right {
  width: 50%;
  background-color: aqua;
}
.product-title {
  font-size: 24px;
  padding: 30px 0;
  text-align: center;
}
.product-text {
  line-height: 30px;
  margin-left: 30px;
}
span {
  color: red;
}
.contact-wrapper {
  width: 80%;
  margin: 0 auto  ;
}
.contact-inner {
  width: 60%;
  margin: 0 auto;
}
input {
  width: 70%;
  padding: 5px;
  margin-bottom: 10px;
  margin-left: 15px;
}
textarea {
  width: 100%;
  margin-left: 15px;
}
.formTable {
  margin-bottom: 50px;
}
.center {
  width: 70%;
  text-align: center;
}
.thanks-wrapper {
  text-align: center;
  margin-top: 150px;
  line-height: 30px;
}